cmake_minimum_required(VERSION 2.8)
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11")
project( <proj_name> )
include_directories( <include_path> )
LINK_DIRECTORIES(<third_party_libs_path>)
ADD_LIBRARY( <lib_name> <file.cpp> )
target_link_libraries( <proj_name>  <third_lib_.a> )

